<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node-blog</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- 留坑 给单页面引进独立的样式 -->
    {{block 'head'}}{{/block}}
</head>

<body>

    {{include './hearder.html'}}
    <!-- 留坑位 填充  类似插槽 -->
    {{block 'content'}}
    <h1>111</h1>
    {{/block}}

    {{include './footer.html'}}

    <!-- 每个页面需要用到的JQuery -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <!-- 留坑 给单页面引进自己的JS -->
    {{block 'Javascript'}}{{/block}}
</body>

</html>